<div class="login-page">
    <div class="login-wrapper">
        <div class="login-box">
            <div class="logo">
                <a href="javascript:void(0);"><b>Enema Admin</b></a>
            </div>
            <div class="card">
                <div class="body">
                    <form id="sign_in" name="enemaLgFrm">
                        <div class="msg">Sign in to start your session</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" ng-model="$parent.loginEmail" name="loginEmail" placeholder="Username" required autofocus>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <input type="password" class="form-control" ng-model="$parent.loginPassword" name="loginPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" ng-disabled="enemaLgFrm.$invalid;$parent.isLoading" type="submit" ng-click="login()">SIGN IN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>